#include "resource.h"

IDI_APP_ICON ICON "app.ico"
IDR_WORKING_GIF RCDATA "../static/working.gif"
IDR_WAITING_GIF RCDATA "../static/waiting.gif"
IDR_CARD_01 RCDATA "../static/cards/card01.png"
IDR_CARD_02 RCDATA "../static/cards/card02.png"
IDR_CARD_03 RCDATA "../static/cards/card03.png"
IDR_CARD_04 RCDATA "../static/cards/card04.png"
IDR_CARD_05 RCDATA "../static/cards/card05.png"
IDR_CARD_06 RCDATA "../static/cards/card06.png"
IDR_CARD_07 RCDATA "../static/cards/card07.png"
IDR_CARD_08 RCDATA "../static/cards/card08.png"
IDR_CARD_09 RCDATA "../static/cards/card09.png"
IDR_CARD_10 RCDATA "../static/cards/card10.png"
IDR_CARD_11 RCDATA "../static/cards/card11.png"
IDR_CARD_12 RCDATA "../static/cards/card12.png"
IDR_CARD_13 RCDATA "../static/cards/card13.png"
IDR_CARD_14 RCDATA "../static/cards/card14.png"
IDR_CARD_15 RCDATA "../static/cards/card15.png"
